.sidebar{
    width:250px;
    height:100vh;
    background:#161616;
    position:fixed;
    left:0;
    top:0;
    padding:20px;
    display:flex;
    flex-direction:column;
    z-index:1000;
    overflow:hidden;
}
.logo{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    color: #ff375f;
    margin-bottom:40px;
}
.logo h2{
    color:#ff375f;
    font-size:38px;
    font-weight:700;
    line-height:1;
    white-space:nowrap;
}
.nav-link,
.sign-link{
    display:flex;
    align-items:center;
    gap:15px;
    text-decoration:none;
    color:white;
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;
    transition:.3s;
}
.sign-link{
    background:#ff375f;
    margin-top:auto;
}
.nav-link:hover,
.sign-link:hover{
    background:#2c2c2e;
}
.nav-link.active{
    background:#ff375f;
}
.nav-link svg,
.sign-link svg{
    font-size:22px;
}
/* ================= Laptop ================= */
@media (max-width:1200px){
    .sidebar{
        width:240px;
    }
    .logo h2{
        font-size:36px;
    }
}
/* ================= Tablet ================= */
@media (max-width:992px){
    .sidebar{
        width:210px;
    }
    .logo h2{
        font-size:30px;
    }
    .nav-link,
    .sign-link{
        padding:14px;
    }
}
/* ================= Mobile ================= */
@media (max-width:768px){
    .sidebar{
        width:70px;
        padding:15px 8px;
        align-items:center;
    }
    .logo{
        margin-bottom:30px;
        margin-top: 10px;
        display:block;
        font-size:10px;
        white-space:nowrap;
    }
    .nav-link span,
    .sign-link span{
        display:none;
    }
    .nav-link,
    .sign-link{
        width:54px;
        height:54px;
        justify-content:center;
        padding:0;
        gap:0;
    }
    .nav-link svg,
    .sign-link svg{
        font-size:24px;
        margin:0;
    }
}
/* ================= Small Mobile ================= */
@media (max-width:480px){
    .sidebar{
        width:70px;
    }
    .nav-link,
    .sign-link{
        width:50px;
        height:50px;
    }
    .nav-link svg,
    .sign-link svg{
        font-size:22px;
    }
}